* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

.Header {
  background-color: #A20021;
  color: #ededf4;
  text-align: left;
  width: 100%;
  height: 5rem;
}

.nav {
  height: 2.5rem;
  background-color: #a20021;
  border-top: 1px #ededf4 solid;
  color: #ededf4;
}

.navList > * {
  display: inline;
  text-align: center;
  font-weight: bold;
  border-right: 1px #ededf4 solid;
  text-decoration: none;
  color: #ededf4;
  width: 160px;
}

.dropdown {
  border-right: 1px #ededf4 solid;
  position: absolute;
  z-index: 99;
  width: 160px;
  color: #ededf4;
  background-color: #A20021;
  list-style-type: none;
}

.dropdownOption {
  color: #ededf4;
  text-decoration: none;
  background-color: #a20021;
}


.footer {
  background-color: #A20021;
  color: #ededf4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

main {
  width: 90%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.reviewCard {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 10rem;
  margin: 1% auto;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #00C9AA;
}

.reviewCard > section {
  max-width: 80%;
  text-align: left;
  padding: 0.5% 2%;
  overflow: hidden;
}


.link {
  text-decoration: none;
  color: black;
}

.reviewCard section p {
  margin: 0.5rem;
}

.review {
  width: 90vw;
  height: auto;
  margin: 2% auto;
}

.thumbnail {
 height: 100%;
 width: 15%;
 object-fit: cover;
 border-radius: 10px;
 margin: 0;
}

.reviewImg {
height: 10rem;
width: 100%;
object-fit: cover;
}

.reviewBody {
  margin: 1% auto;
}

.title {
  display: inline-block;
}

.byline {
  display: inline-block;
}