/* Palette - A20021, EDEDF4, 7D84B2 0A1128 001F54 */

/*Basic styling*/

* {
  margin: 0;
  padding: 0
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #ededf4
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/

.header {
  background-color: #A20021;
  color: #ededf4;
  width: 100%;
  height: 5rem;
}

/*Nav*/

.navBar {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 2.5rem;
  background-color: #a20021;
  border-top: 1px #ededf4 solid;
  color: #ededf4;
}

.navList {
  flex-grow: 1;
  font-weight: bold;
  text-decoration: none;
  color: #ededf4;
  width: 160px;
}

.navListItem {
  flex-grow: 1;
  height: 100%;
}

/*Footer*/

.footer {
  bottom: 0;
  background-color: #A20021;
  color: #ededf4;
  width: 100%;
  height: 5rem;
}

/*Main*/

main {
  width: 90%;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


/*Main reviews page*/

/*Sort Bar*/

.sortBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto 2.5rem 1rem;
  height: 2.5rem;
  background-color: #ededf4;
  border-radius: 10px;
}

.sortButton{
  width: 100%;
  background-color: #001F54;
  color: #ededf4;
  border: 0;
  border-radius: 10px;
  outline: 0;
  height: 2rem;
}

.sortForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: #ededf4;
  margin: 0 auto 1rem auto;
}

.sortForm > button {
  background-color: #001F54;
  color: #ededf4;
  border-radius: 25px;
  padding: 0.5rem;
  outline: none;
  border: 0;
}

/*Cards*/

.cardList {
  width: 100%;
  margin-top: 1.5rem;
}

.cardLink {
  color: black;
}

.card {
  background-color: #ededf4;
  color: black;
  border: 0;
  border-radius: 10px;
}

/*Single Review Page*/


/*Comments*/

.commentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px #A20021 solid;
  border-right: 2px #A20021 solid;
  border-left: 2px #A20021 solid;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  flex-grow: 1;
}

.commentAdder {
  width: 90%;
  text-align: center;
  margin: 1rem;
}

.reviewCard {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  margin: 1% auto;
}

.reviewCard > section {
  max-width: 80%;
  text-align: left;
  padding: 0.5% 2%;
  overflow: hidden;
}

.category-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 1.5rem;
  align-items: center;
  justify-content: center;
}

.category-card  > h4{
  width: 25%;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card > p {
  width: 75%;
  margin-left: 1rem;
}
.reviewCard section p {
  margin: 0.5rem;
}

.review {
  text-align: center;
  width: 90vw;
  margin: 2% auto;
  background-color: #ededf4;
  border-radius: 10px;
}

.review img {
  border-radius: 10px 10px 0 0;
}

.thumbnail {
 width: 15%;
 object-fit: cover;
 border-radius: 10px 0 0 10px;
 margin: 0;
}

.reviewImg {
height: 10rem;
width: 100%;
object-fit: cover;
}

.reviewBody {
  margin: 1% auto;
}

.title {
  display: inline-block;
  color: #ededf4;
}

.byline {
  display: inline-block;
}

.commentsContainer {
  text-align: center;
  border-top: 2px #A20021 solid;
  border-right: 2px #A20021 solid;
  border-left: 2px #A20021 solid;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.commentsList {
  margin: 1rem auto 0 auto;
  width: 90%;
}

.comment {
  width: 90%;
  margin: 1rem auto;
}

.comment-card {
  width:90%;
  margin: 1rem auto;
}



/*Error Container*/

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Comment adder*/

#singleReview {
  padding-bottom: 0;
  margin: 0 auto;
  flex-basis: 1;
}

.messageInput {
  margin: 0 auto;
  width: 70%;
  height: 2rem;
  background-color: #ededf4;
  border-radius: 25px 0 0 25px;
  text-align: center;
  outline: 0;
  border: 0;
}

.messageSubmit {
  width: 20%;
  height: 2rem;
  background-color: #001F54;
  color: #ededf4;
  border: 0;
  border-radius: 0 25px 25px 0;
  outline: 0;
}

#commentLabel {
  display: block;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-btn {
  height: 2.5rem;
  width: 25%;
  margin: 1rem 0;
}

.vote-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 2.5rem;
  background-color: #eded;
}

.upvote {
  border: 0;
  outline: none;
  background-color: #001F54;
  color: #ededf4;
  border-radius: 25px 0 0 25px;
}

.downvote {
  border: 0;
  outline: none;
  background-color: #A20021;
  color:#ededf4;
  border-radius: 0 25px 25px 0;
}

.singleReviewCard {
  padding: 2rem 10%;
  text-align: justify;
}

.landing {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.landing-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.landing-content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
}

.user-info {
  width: 100%;
  background-color: #001F54;
  color: #ededf4;
  height: 100%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-body {
  width: 100%;
  padding: 5px;
}

.delete-btn {
  background-color: #A20021;
  color: #ededf4;
  border: 0;
  outline: none;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
}